<footer class="footer has-background-dark py-2">
  <div class="content has-text-centered is-size-7">
    <p>&copy; 2025 <strong>Ridha Project Webontwikkeling</strong></p>
  </div>
</footer>
</body>
</html>