<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/details.css">
    <title>Ridha Project</title>
</head>
<body>
<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-menu is-active">
    <div class="navbar-start is-flex is-justify-content-start" style="gap: 1rem;">
      <a class="navbar-item" href="/">Home</a>
      <a class="navbar-item" href="/">Cards</a>
      <a class="navbar-item" href="/">Lands</a>
    </div>
  </div>
</nav>