<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet"href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css"> -->
    <link rel="stylesheet" href="/style.css">
    <% if (typeof pageCss !== "undefined") { %>
        <link rel="stylesheet" href="/<%= pageCss %>.css">
    <% } %>
    <title>Ridha Project</title>
</head>
<body>
<nav class="app-navbar">
  <div class="nav-container">
      <a href="/">Home</a>
      <a href="/countries">Lands</a>
     <% if (user) { %>
      <form class="logout-form" action="/login/logout" method="post">
          <button class="logout-btn" type="submit">Logout</button>
      </form>
      <% } %>
  </div>
</nav>