.details-container {
  width: 70%;
  margin: 40px auto;
  text-align: center;
}

.cityName {
  color: white !important;
  font-size: 42px;
}
.cityDescr {
  color: white !important;
  font-size: 24px;
}


.details-container img {
  width: 100%;
  max-height: 350px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.1);
}

.details-container h1 {
margin-top: 20px;
color: #333;
}

.details-container p {
  color: #555;
  line-height: 1.6;
}